@model Inventario_2.Models.Articulo

@{
    ViewData["Title"] = "Delete";
}

<style>
    h1 {
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
    }

    .row {
        margin: 15px 0;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }
</style>

<h1>Eliminar registro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Existencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInventarioNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdInventarioNavigation.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArticulos" />
        <div class="d-flex">
            <input type="submit" style="margin-right: 5px;" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" style="margin-left: 5px;" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>
